.App{
  text-align: center;
  /* background-color: aqua; */
  /*border:solid;*/
  margin:auto;
  width: 80%;
}

.buttons-container{
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-task-button{
 padding: 10px;
 width: 100px;
 border-radius: 10px;
 cursor: pointer;
 border: none;
 background-color: green;
 color: white;
}

.filter-button{
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
}

.my-actual-notes{
  background-color: white;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 5px;
}

.notes-container{
  background-color: gray;
  margin: 20px;
  padding: 10px 0px;
  border-radius: 5px;
}

.my-actual-notes{
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.checkbox-and-title{
  display: flex;
}

.title-and-time{
  margin-left: 10px;
}

.time-and-date {
  margin:0px
}

.icons{
  display: flex;
  align-items:center;
}

.icons-container{
  background-color: gray;
  margin-right:10px;
  border-radius:5px ;
}

.icon-padding{
  padding: 5px;
}




.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body{
  background-color: white;
  border-radius: 5px;
}

.modal-header > input{
  margin-top: 15px;
  border-style:solid gray;
  padding: 10px;
}

.modal-content{
  width: 500px;
  background-color: white;
  margin-top: 15px;
} 

.modal-content > textarea {
  text-indent: 15px;
  resize: none ;
}

.modal-footer {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.modal-footer > button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding:10px;
  border-radius: 10px;
  width: 90px;
}